@import url(../components/buttons.css);
@import url(../base/variables.css);
body{
    width: 80%;
    background-color: var(--background-color);
    color: var(--font-color-primary);
    font-family: var(--font-family-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    position: static;
    width: 1136px;
    height: 115px;
    left: 152px;
    top: 0px;
    /* Preto/branco */
    background: var(--background-color);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
main{
    width: 80%;
    justify-content: center;
    align-items: center;
}
.search-bar{
    /* Barra de pesquisa */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    position: static;
    width: 393px;
    height: 40px;
    left: calc(50% - 393px/2 + 104px);
    top: 5px;
    /* Preto/05% */
    background: #F5F5F5;
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 32px;
}
.login{
    /* Botao */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 182px;
    height: 51px;
    left: 954px;
    top: 32px;
    /* Azul/100% */
    color: var(--font-color-primary);
    border: 1px solid var(--font-color-primary);
    box-sizing: border-box;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: var(--background-color);
}
.promotion{
    /* Hero */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* padding: 32px; */
    position: static;
    width: 100%;
    height: 352px;
    left: 0px;
    top: 115px;
    /* imagemhero */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../../img/geeky-shots-hQ4BQ3wdHsQ-unsplash_m.jpg);
    background-size: 100%;
    background-position:center;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px auto;
    text-align: left;
}
.texto{
    position: static;
    width: 751px;
    height: 61px;
    left: 0px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    /* identical to box height */
    /* Preto/branco */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 80px;
}
.texto-descuento{
    /* Productos selecionados con 33% de descuento */
    position: static;
    width: 751px;
    height: 26px;
    left: 0px;
    top: 77px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    /* Preto/branco */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 80px;
}
.button-console{
    /* Botao */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 129px;
    height: 51px;
    left: 0px;
    top: 119px;
    /* Azul/100% */
    background: #2A7AE4;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 80px;
}
.productsList{
    padding: 40px;
}
.section-title{
    /* Star Wars */
    position: static;
    width: 148px;
    height: 38px;
    left: 0px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: left;
    margin: 0 40px 0 20px;
}

.star-wars-productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.star-wars-productos li{
    width: 100%;
    margin: 20px 10px;
}
.imagen-producto{
    width: 100%;
    margin-bottom: 10px;
}
.info-producto{
    margin-bottom: 10px;
    color: var(--font-color-secondary);
}
.enlaceProducto{
    margin-bottom: 10px;
    color: var(--font-color-primary);
    font-weight: 700;
    font-family: var(--font-family-body);
    text-decoration: none;
}
