:root{
    --font-family-body: 'Raleway', sans-serif;
    --font-color-primary: #2A7AE4;
    --font-color-secondary: #464646;
    --font-color-thirty: #A2A2A2;
    --footer-color: #EAF2FD;

    --background-color: #ffffff;
    --shadow: 0 5px 10px #55a6ff38;
}