.texto {
    /* Texto */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1136px;
    height: 170px;
    left: 152px;
    top: 150px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.--button-console-text {
    /* Texto */
    position: static;
    width: 97px;
    height: 19px;
    left: 16px;
    top: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Preto/branco */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.--promocion {
    position: static;
    width: 751px;
    height: 26px;
    left: 0px;
    top: 77px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    /* Preto/branco */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.--mes-promocional {
    /* Febrero Promocional */
    position: static;
    width: 751px;
    height: 61px;
    left: 0px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    /* identical to box height */
    /* Preto/branco */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.--searchbar-text {
    /* Texto */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 329px;
    height: 16px;
    left: 16px;
    top: 12px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
}
