/* LOGIN BUTTON */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 182px;
    height: 51px;
    left: 954px;
    top: 32px;

    color: var(--font-color-primary);
    border: 1px solid var(--font-color-primary);
    box-sizing: border-box;
    transition: .6s;
    background-color: var(--background-color);
}
.login:hover {
    background-color: var(--font-color-primary);
    color: var(--background-color);
}

/* CONSOLE BUTTON */

.button-console {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: static;
    width: 129px;
    height: 51px;
    left: 0px;
    top: 119px;
    background: var(--font-color-primary);
    margin-bottom: 20px;
    color: var(--background-color);
}

.button-contacto-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: var(--font-color-primary);

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
    color: #ffffff;
}

.button-ver-mas {
    /* Auto layout */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: auto;
    cursor: pointer;
    background-color: transparent;

}

.button-ver-mas:hover{
    text-decoration: underline;
}
.ver-mas {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Azul/100% */
    color: var(--font-color-primary);
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}
@media (max-width: 596px) {
    .login {
        width: 120px;
        height: 20px;
    }
 }